@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c93mnf');
  src:  url('fonts/icomoon.eot?c93mnf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c93mnf') format('truetype'),
    url('fonts/icomoon.woff?c93mnf') format('woff'),
    url('fonts/icomoon.svg?c93mnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-right:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-miscellaneous_services:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e903";
}
.icon-cloud-sun-lightning:before {
  content: "\e900";
}
.icon-cloud-sun:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e904";
}
.icon-gmail:before {
  content: "\e908";
  /* color: #d14836; */
}
.icon-whatsapp:before {
  content: "\e907";
  /* color: #25d366; */
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-linkedin:before {
  content: "\eac9";
}
